* {
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}
/*Selector for hovering over navbar*/
nav a:hover {
	opacity: 15%;
}

#menuName {
	font-weight: bold;
	font-size:1.5em;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}
.float-child {
    max-width: 50%;
	width:50%;
	height: 100%;
    float: left;
    padding: 20px;
    border: 2px groove black;
}
input{
	max-width:50%;
	padding-left: 20px;
	float:right;
}
p{
	max-width:500px;
	padding-top: 40px;
}

h1{
    font-weight:bold;
    text-align:center;
    margin-bottom:50px;
}
li {
    margin-bottom: 10px;
}
#finalMessage{
    padding-bottom:140px;
}


