<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content = "width=device-width, initial-scale=1">
    <title>Loan Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a href="#" class="navbar-brand" id="menuName">Check Your Loan</a>
        <button id = "navbarToggle" class= "navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
</nav>
<div class = "float-container" >
    <form action="/submit" method = "POST" class ="float-child">
        <p>Age (in days) <input name = "attribute0" /></p>
        <p>Annuity Amount <input name = "attribute1" /></p>
        <p>Days employed <input name = "attribute2" /></p>
        <p>Credit Amount <input  name = "attribute3" /></p>
        <p>Income Total <input  name = "attribute4" /></p>
        <p>Occupation Type <input name = "attribute5" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
    <div class = "float-child">
        <p>Go to sleep</p>
    </div>
</div>




{%if data == 1%}
<h1>JOHNNY</h1>
{%elif data==0%}

{%endif%}

<style>

  textarea {
  width: 100%;
  height: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top: 20px;
  }

  button{
    margin-top: 10px;
  }
</style>

</body>
</html>
